<html>
<head>
    <title>Main Page</title>
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Search Bar-->
    <link type="text/css" rel="stylesheet" href="/public/layout.css"/>
</head>
<body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>

<div class="col-md-9 col-md-push-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form action="/list" method="post" id="searchForm" class="input-group">

                    <select name="search_param" id="search_param" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <option value="restaurant">Restaurant</option>
                        <option value="borough">Borough</option>
                        <option value="cuisine">Cuisine</option>
                    </select>
                    <input type="text" class="form-control" name="search_criteria" placeholder="Search term...">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <input type="hidden" value="search" name="from" class="validate">
                </form><!-- end form -->
            </div><!-- end col-xs-8 -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end col-md-9 -->
<div class="container fix-container">
    <div class="row">
        <div class="card col m6">
            <div class="card-action pink lighten-1">
                <span class="card-title blue-text">Restaurant</span>
            </div>
            <div class="card-content card-action">
                User: <%= user %>
                <br>
                Number of Restaurant: <%= noDocs %>
                <br>
                criteria: <%= criteria %><br>
                <p style="color:red"><%= msg %></p>
                <p style="color:green"><%= (!!response) ? response : '' %></p>
            </div>
            <div class="card-action">
                <a href="/item/create">Create</a>
            </div>
            <% if(user == 'admin'){ %>
            <div class="card-action">
                <a href="/user/mgt">User Management</a>
            </div>
            <% } %>
            <div class="card-action">
                <a href="/user/logout">Logout</a>
            </div>
        </div>
        <div class="collection col s6 m4" style="padding: 0">
            <% for(var i = 0; i < restaurant.length; i++) { %>
            <a href='/item/<%= restaurant[i].id %>' class="collection-item">
                <span><%= i + 1 %>. </span><%= restaurant[i].name %>
            </a>
            <% } %>
        </div>

    </div>
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>