<html>
<head>
    <title>Detail for <%= info.name %></title>
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link type="text/css" rel="stylesheet" href="/layout.css"/>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?key=<%= api.googleAPI %>"></script>
    <script type="text/javascript">

        var loadMap = function () {
            var passCoord = <%- info.address.coord %>
            if (passCoord.lat) {
                var myLatLng = {
                    lat: parseFloat(passCoord.lat),
                    lng: parseFloat(passCoord.lon)
                };
                if (myLatLng.lat != '') {
                    var map = new google.maps.Map(
                            document.getElementById("map"), {
                                center: myLatLng,
                                zoom: 18
                            });
                    var map = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: ''
                    });
                }
            } else {
                document.getElementById("map").innerHTML = "<img class='responsive-img valign' src='//placehold.it/800?text=No+Coord' />"
            }

        };
        window.onload = loadMap;
    </script>
</head>
</head>
<body>

<div class="container fix-container">
    <div class="row">
        <div class="card horizontal">
            <div class="card horizontal">
                <div class="card-image">
                    <img src=<%= imgSrc ? imgSrc : '//placehold.it/350?text=No+Pic' %>>
                </div>
                <div class="card-content">
        <span class="card-title"><b>
          <%= info.name ? info.name : '---' %>
        </b></span>
                    <table>
                        <thead>
                        <tr></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Borough:</td>
                            <td><%= info.borough ? info.borough : '---' %></td>
                        </tr>
                        <tr>
                            <td>Cuisine:</td>
                            <td><%= info.cuisine ? info.cuisine : '---' %></td>
                        </tr>
                        <tr>
                            <td>Building:</td>
                            <td><%= info.address.building ? info.address.building : '---' %></td>
                        </tr>
                        <tr>
                            <td>Street:</td>
                            <td><%= info.address.street ? info.address.street : '---' %></td>
                        </tr>
                        <tr>
                            <td>Zipcode:</td>
                            <td><%= info.address.zipcode ? info.address.zipcode : '---' %></td>
                        </tr>
                        <tr>
                            <td>GPS:</td>
                            <td><%= info.address.coord ? info.address.coord : '---' %></td>
                        </tr>
                        <tr>
                            <td>Created by:</td>
                            <td><%= info.by ? info.by : '---' %></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-action">
                    <a class="btn btn1" type="submit" name="rate" href="/item/<%= info._id %>/<%= info.name %>/rate">Rate</a>
                    <a class="btn btn2" type="submit" name="back" href="/list">Back </a>
                    <a class="btn btn3" type="submit" name="edit" href="/item/<%= info._id %>/edit">Edit
                    </a>
                    <a class="btn btn4" type="submit" name="delete" href="/item/<%= info._id %>/delete">Delete
                    </a>
                </div>
            </div>
            <div class="card horizontal">
                <div class="card-action">
        <span class="card-title">
        <%= info.rating.length %> Rating
        </span>
                    <table>
                        <thead>
                        <tr></tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0; i < info.rating.length; i++) { %>
                        <tr>
                            <td><%= i + 1 %>.</td>
                            <td><%= info.rating[i].by %></td>
                            <td><%= info.rating[i].score %></td>
                        </tr>
                        <% } %>
                        <tr>
                            <p style="color:red"><%= messages %></p>
                            <p style="color:green"><%= (!!response) ? response : '' %></p>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col s12 m5">
            <div class="card">
                <div id="map" class="valign-wrapper" style="height:500px;"></div>
            </div>
        </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>